# don't need every single pdf file that is going to be here uploaded.
*.pdf  

# Don't need the entire database pushed to git. This could change, but right now all of the database will be ignored.
# Maybe huggingface will be useful? Look into that
/DB_of_Holding  
/DB_of_Holding_test
/DB_of_Holding*

# This folder will be for uploading documents, a way to do it without the UI, and for testing.
/Folder_of_Holding
/Test_Books

# want to ignore all vscode and pycache folders
# the folders themselves are OK to upload, I just don't want the files in them.
/.vscode
/__pycache__
UI_Testing/__pycache__
*/__pycache__
*.pyc


# Generally, don't want any images in the folders.
*.jpg
*.png
/Images

# In case there are files I want to use locally but don't need to share on git
/Misc
/Other
/Something

# For testing and making interesting model personalities.
/Personalities

# Because we don't want to upload the logs
/Logs

# I'm testing the use of .env files over .yaml files. I don't want to push the .env files yet.
*.env

# Because it's growing so much, I'm removing test.ipynb from the commit
Cold_Storage/__test.ipynb

# This is going to be large experimental folder, starting with how to change PDFs into PNGs.
Experimental/