Anaconda is the recomended way to install these. Below are their pip commands or if they are avaliable in Anaconda.

chromadb
    anaconda
    pip install chromadb
gradio  - version 6 or later. 5 will not work due to how the messages get passed and read from the user to the LLM.
    anaconda
    pip install gradio
langchain
    anaconda
    pip install langchain
langchain-community
    anaconda
    pip install langchain-community
langchain-chroma
    pip install langchain-chroma
langchain-core
    pip install langchain-core
langchain-text-splitters
    pip install langchain-text-splitters
langchain-ollama
    pip install langchain-ollama
langchain-unstructured
    pip install langchain-unstructured
ollama
    https://ollama.com/download (for Ollama server)
        Don't foreget to install a language model: https://ollama.com/library
        Don't forget to install an embedding model: https://ollama.com/search?c=embedding
    pip install ollama (for python library)
pdfplumber
    pip install pdfplumber
rand_bm25
    pip install rank-bm25
toml
    anaconda
    pip install toml
